---
import Card from "../components/Card.astro";
import Kunstner from "../components/Kunstner.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=yes"
    />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Spotify</title>
  </head>

  <body>
    <main>
      <h1>Album</h1>
      <artikle class="wrapper">
        <Card
          header="Daily Mix"
          tekst="Bangerz"
          image="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="Everybody"
          image="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="FourFiveSeconds"
          image="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="Swagga Like Us"
          image="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="The Greatest Hits Collection"
          image="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="The Essential"
          image="https://via.assets.so/album.png?id=6&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="A Little Bit Longer"
          image="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="Rebirth"
          image="https://via.assets.so/album.png?id=8&q=95&w=360&h=360&fit=fill"
        />
      </artikle>
      <h1>Specielt til dig</h1>
      <artikle class="wrapper">
        <Card
          header="Daily Mix"
          tekst="Swagga Like Us"
          image="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="Rebirth"
          image="https://via.assets.so/album.png?id=8&q=95&w=360&h=360&fit=fill"
        />

        <Card
          header="Daily Mix"
          tekst="FourFiveSeconds"
          image="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="Bangerz"
          image="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="A Little Bit Longer"
          image="https://via.assets.so/album.png?id=7&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="Everybody"
          image="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="The Greatest Hits Collection"
          image="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill"
        />
        <Card
          header="Daily Mix"
          tekst="The Essential"
          image="https://via.assets.so/album.png?id=6&q=95&w=360&h=360&fit=fill"
        />
      </artikle>
    </main>
  </body>
</html>
